<!DOCTYPE html>
<html lang="en">
<head>
    <title>Monster Evolution Clicker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="menu">
    <h1>Monster Evolution Clicker</h1>
    <p class="subtitle">Click. Upgrade. Evolve.</p>
    <div class="instructions">
        <p>
          Instructions:</br></br>
          Use "Click Monster" to gain XP. Use "Upgrade Monster" to increase your XP per click.
          Your monster evolves as you gain XP. Click "Quit Game" anytime to return to this menu and reset your progress.
          See how far you can evolve your monster!
        </p>
    </div>
    <a href="{{ url_for('start_game') }}">
      <button class="menu-btn">Start Game</button>
    </a>
</body>
</html>
